body{
    background-color: blue;
}
.whattheydo{
    background-color: blueviolet;
}
.goodthingsaboutboys{
    background-color: chartreuse;
}
.whattheyhave{
    background-color: crimson;
}
.whatthecanandcannotdo{
    background-color: darkorange;
}